/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
    
}

body {
    margin: 0;
    font-family: 'Jost'
}

p {
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
