<mat-toolbar>
  <div class="logo-wrap col-center">
    <p class="logo"><span class="logo">Recipe Diary</span></p>
  </div>
  <div class="container">
    <div class="flex-row header-inner">
      <div class="header-column col-center">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/recipe/main"> All Recipes</a>
        <a mat-button routerLink="/about"> About</a>
        <a mat-button routerLink="/contacts"> Contact</a>
      </div>
      <div class="header-column col-rigth">
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
      </div>
      <div class="header-column col-right">
        <a mat-button routerLink="/recipe/new">Create Recipe</a>
        <a mat-button routerLink="/profile">Profile</a>
        <a mat-button routerLink="/logout">Logout</a>
      </div>
    </div>
  </div>

</mat-toolbar>